@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-letters: var(--letters);
  --color-color1: var(--light-color1);
  --color-color2: var(--light-color2);
  --color-bg: var(--bg);
}

:root {
  --letters: #7907fa;
  --light-color2: #C3ACD0;
  --bg: #F7EFE5;
  /* --letters: var(--light-color1); */
}

.dark,
[data-theme="dark"] {
  --bg: #210F37;
  --dark-color2: #7A1CAC;
  --letters: #d620af;
  --dark-lighter: #FFFBF5;
  /* --letters: var(--dark-color1); */
}